@tailwind base;
@tailwind components;
@tailwind utilities;



/* ===== Custom Scrollbar ===== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0b10;
}

::-webkit-scrollbar-thumb {
  background: #292d38;
  border-radius: 999px;
  border: 2px solid #0a0b10;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffb800;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #292d38 #0a0b10;
}